@import "../../styles/variables/_mixins";
@import "../../styles/variables/_sizes";

.InfoPanel {
  border-top: 1px solid black;
  height: calc(100vh - $header-height - $filter-panel-height);
  overflow-y: scroll;
  box-sizing: border-box;

  &__Title {
    font-size: 1.5rem;
    margin: 1rem
  }

  &__RowTitle {
    font-size: 1.5rem;
    font-weight: normal;

    &--chart {
      margin-bottom: 1rem;
    }
  }

  &__Image {
    height: 20rem;
    background-color: white;
    border-radius: 16px;
    margin: auto;

    &--loaded {
      border: 1px solid black;
    }
  }

  &__Flavor {
    text-align: justify;
    padding: 1rem;
    height: 4rem;

    @include spinner;
    .lds-ring div {
      width: 8rem;
      height: 8rem;
    }
  }

  &__Table {
    border-radius: 4px;
    overflow: hidden;

    &__Container {
      padding: $sidebar-padding;
    }

    &__Header {
      padding: $sidebar-padding;
    }
  }

  &__Row {
    &--chart {
      border-top: 1px solid black;
      background-color: white;
      padding: $sidebar-padding;
    }

    &--table {
      border-top: 1px solid black;
      background-color:  white;

      td {
        padding: 1rem 0;
      }

      .move-chart-name-cell {
        padding: 1rem 0.5rem;
      }
    }
  }
}
