@import "../../styles/variables/_palette";
@import "../../styles/variables/_sizes";
@import "../../styles/variables/_mixins";

.App {
  text-align: center;

  &__Body {
    display: flex;
  }

  // &__FilterBar {
  //   background-color: #262322;
  //   color: white;
  //   padding:0 0.5rem 0 1rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   height: $filter-bar-height;

  //   &__count {
  //     font-size: 1.5rem;
  //   }

  //   &__filters {
  //     display: flex;
  //     flex-direction: row;
  //   }

  //   .Search {
  //     position: relative;
  //     margin-right: 0.5rem;
  
  //     input {
  //       @include input;
  //       padding-left: 2rem;
  //       flex: 1;
  //     }
  
  //     svg {
  //       position: absolute;
  //       box-sizing:border-box;
  //       top: 0.625rem;
  //       left: 0.625rem;
  //       color: black;
  //     }
  //   }
  // }

  &__Sidebar {
    width: $sidebar-width;
    min-width: 10rem;
    border-right: 1px solid black;
    background-color: $table-header-gray;
    padding: 0 0 $sidebar-padding;

    &__Row {
      display: flex;
      flex-wrap: wrap;
      padding: $sidebar-padding;
      

      &--label {
        text-align: center;
      }

      &--head {
        background-color: #262322;
        color: white;
        font-size: 1.5rem;
        padding: $sidebar-padding 0;
      }
    }

    &__Search {
      position: relative;
      flex: 1;
  
      input {
        @include input;
        padding-left: 2rem;
        width: calc(100% - #{$sidebar-padding} - 2rem);
        flex: 1;
      }
  
      svg {
        position: absolute;
        box-sizing:border-box;
        top: 0.625rem;
        left: 0.625rem;
        color: black;
      }
    }

    &__SearchButton {
      @include button;
      height: 2.25rem;
      border-radius: 4px;
      margin-left: 0.5rem;
    }
  }

  &__Content {
    flex: 1;
    // height: calc(100vh - $header-height - $filter-bar-height);
    height: calc(100vh - $header-height);
    overflow-y: scroll;
    position: relative;
  }

  .loadmore {
    @include button;
    margin: 20px 0;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    letter-spacing: 2px;
    min-width: 160px;
    text-align: center;
    padding: 18px 48px;
    height: 48px;
  }
}

.Header {
  color: #fff;
  background-color: $pokedex-red;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.CheckboxList {
  display: flex;
  justify-content: space-between;
}

.Checkbox {
  width: 33%;
  box-sizing: border-box;
  display: flex;
  padding: 0.25rem 0 0.25rem 5%;

  &__checkbox {
    margin-right: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__label { }
}

.InfoBlock {
  border-top: 1px solid black;

  &__Title {
    font-size: 1.5rem;
  }
}