@import "./_palette";

@mixin table-cell-padding {
  // padding: 16px 8px;
  padding: 0px 8px;
}

@mixin input {
  font-size: 1rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $input-border-gray;
}

@mixin button {
  outline: none;
  color: #fff;
  background-color: $pokedex-red;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  &:hover {
    background-color: $pokedex-red-dark;
  }
}
