@import "../../styles/variables/_palette";
@import "../../styles/variables/_sizes";
@import "../../styles/variables/_mixins";

.Loading {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: calc($sidebar-width);
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  @include spinner;
  .lds-ring div {
    width: 8rem;
    height: 8rem;
  }
}