@import "./styles/variables/_palette";
@import "./styles/variables/_mixins";

$header-height: 4.5rem;
$sidebar-padding: 1rem;

.App {
  text-align: center;

  &__Body {
    display: flex
  }

  &__Sidebar {
    width: 20rem;
    min-width: 10rem;
    border-right: 1px solid black;
    background-color: $table-header-gray;
    padding: $sidebar-padding;

    &__Row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      &--label {
        text-align: center;
        p {
          margin: 0 0 1rem 0;
        }
      }
    }

    &__Search {
      position: relative;
      flex: 1;
  
      input {
        @include input;
        padding-left: 2rem;
        width: calc(100% - #{$sidebar-padding} - 2rem);
        flex: 1;
      }
  
      svg {
        position: absolute;
        box-sizing:border-box;
        top: 0.625rem;
        left: 0.625rem;
        color: black;
      }
    }

    &__SearchButton {
      @include button;
      height: 2.25rem;
      border-radius: 4px;
      margin-left: 0.5rem;
    }
  }

  &__Content {
    flex: 1;
    height: calc(100vh - $header-height);
    overflow-y: scroll;
  }

  .loadmore {
    @include button;
    margin: 20px 0;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    letter-spacing: 2px;
    min-width: 160px;
    text-align: center;
    padding: 18px 48px;
    height: 48px;
  }
}

.Header {
  color: #fff;
  background-color: #EF5350;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.Checkbox {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  padding: 0.25rem 0 0.25rem 10%;

  &__checkbox {
    margin-right: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__label {}
}